@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --borderline-fill: #05386b;
    --borderline-empty: #edf5e1;
}

body {
    background-color: #5cdb95;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--borderline-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 98%;
    z-index: -1;
}

.progress {
    background-color: var(--borderline-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    /* border: 3px solid var(--borderline-fill); */
    background-color: var(--borderline-empty);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--borderline-fill);
    background-color: var(--borderline-fill);
    color: white;
}

button {
    cursor: pointer;
    background-color: var(--borderline-fill);
    color: #edf5e1;
    border-radius: 12px;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 20px;
    margin: 5px;
}

button:active {
    transition: scale(0.98);
}

/* button:focus {
    outline: 5;
} */

button:hover {
    filter:brightness(140%);
}

button:disabled {
    filter: brightness(60%);
    cursor: not-allowed;
}